{
  "env": {
    "node": true,
    // "jest": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 8
    // "sourceType": "module"
  },
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": 0,
    "prefer-destructuring": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0
  }
}
