/* Después de cada regla, el valor «2» significa que una violación supondría un error. 
    Si el valor puesto es 1 generaría un “warning” y un valor de 0 deshabilitaría la regla. */
{
  "env": {
    "node": true,
    "commonjs": true,
    "es2021": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended"], /* Reglas marcadas con ✓ en eslint.org/docs/rules */
  "rules": {
    // "no-console": "warn", /* advierte que no deberias usar console */
    "linebreak-style": ["error", "windows"], /* escribimos código en Windows o en Unix */
    "quotes": ["error", "single"],  /* utilizamos comillas simples para los strings */
    "semi": ["error", "always"], /* utilizar punto y coma al final de cada sentencia */
    "space-infix-ops": 2,  /* dejar espacios entre = , < , > */
    "camelcase": 2, /* exige usar camelCase */
    "indent" : ["error",2],
    "prefer-const": ["error", {
      "destructuring": "any", /* si alguna variable debe ser constante , esta regla advierte sobre esas variables.*/
      "ignoreReadBeforeAssign": false
    }],
    "no-const-assign": "error",
    "spaced-comment": [2, "always"],
    "eol-last": ["error", "always"],   // dejar un espacio al final 
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],// no admite mas de 2 dos lines de espacio
    "object-curly-spacing": ["error", "always"],
    "eqeqeq": ["error", "always"], // require the use of === and !==
    "keyword-spacing": ["error", { "before": true }], // espacio entre caracteres y palabras reservadas.
    "space-before-blocks": "error", // espacio entre () {}
    "import/extensions": 0
  }
}
